<h4 class="mb-3">Lista de Roles </h4>
<div class="card">
    <div class="card-body">
        <table class="table table-hover" >
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th class="text-center">Acciones</th>
            </tr>
            <% @roles.each do |rol| %>
            <tr>
                <td><%= rol.id %></td>
                <td><%= rol.rol %></td>
                <td class="text-center">
                    <%= link_to "Editar", editar_rol_path(rol), class: "btn btn-warning" %> 
                    <%= link_to "Eliminar", rol_path(rol), 
                    method: :delete, 
                    class: "btn btn-danger", 
                    data: {confirm: "Está seguro que quiere eliminar el Rol"} %>
                
                </td>
            </tr>
        <% end %>
        </table>
    </div>
</div>
