<!-- <%= @roles.inspect %> -->
<h1>Lista de Ciudades </h1>

<span><%= link_to "Crear una nueva ciudad", nueva_ciudad_path %></span>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
<% @ciudades.each do |ciudad| %>
    <tr>
        <td>
            <%= ciudad.id %> </td>
        <td>
            <%= ciudad.nombre %> </td>
        <td>
            [Editar] [Eliminar] </td>
    </tr>
<% end %> 
</table>
