<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-4 bg-secondary">
                <!-- Cargar la foto -->
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-7">
                        <H2><b>Hotel Dann</b></H2>
                        <span class="text-muted">Bogotá</span>
                    </div>
                    <div class="col-5">
                        <p>Código <b>CFD988</b></p>
                        <p class="fs-3">CLP 50.000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3><b>Habitación</b></h3>
                        <span>Dog</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p><b>Fecha Ingreso</b></p>
                        <span>20/11/2021</span>
                    </div>
                    <div class="col-3">
                        <p><b>Fecha Ingreso</b></p>
                        <span>28/11/2021</span>            
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>