<nav class="menu-vertical col-leg-2">
    <div class="row">
        <div class="col">
            <h4 class="titulo text-center"><strong>HOTELES</strong></h2>
        </div>
    </div>
    <div class="row">
        <ul>
            <li class="separador mb-3"><strong>Ciudades</li></strong>
            <li class="pt-2 ">
                <%= link_to "Listar", ciudades_path %>
            </li>
            <li class="pt-2 ">
            <%= link_to "Crear", nueva_ciudad_path %>
            </li>
        </ul>
    </div>

</nav>